@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "IransansXRegular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/IRANSansXRegular.ttf);
  }
}


body {
  font-family: IransansXRegular, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
